<div class="modal-dialog modal-dialog-centered">
  <%= form_with url: path, method: url_method do |form| %>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete_accountLabel">Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <%= form.password_field :password, class: "form-control" %>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </div>
  <% end %>
</div>
