.cart-section {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 20px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.cart-section a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.cart-section a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .cart-section {padding-top: 15px;}
  .cart-section a {font-size: 18px;}
}
