

.emptyCart{
  height: 80%;
  width: 350px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: rgba(248, 247, 247, 0.616);
}


.emptyCartImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  width: 50%;
  height: 50%;
  opacity:0.4;
}

.emptyCartText{
   font-size: 40px;
   padding-top: 30px;
   padding-left: 90px;
   opacity:0.6;
}
