

.passwordChange {
  margin-top: 70px;
  margin-left: 18px;
}

.passwordinput-section {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.passwordinputContainer{
  padding: 10px 2px 2px;
}

.changeButton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.changeButton:hover {
  opacity: 0.8;
}
