.menuCategory-list {
  margin-top: 100px;
  margin-left: -10px;
  white-space: nowrap;
}


ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  width: 20%;
  position: fixed;
  height: 90%;
  overflow-y: auto;
  border: 1px solid black;
  box-shadow: 5px 10px 8px 10px #888888;
}

li a {
  display: block;
  color: #000;
  text-decoration: none;
}


.scroll-items {
  margin-left:20%;
  margin-right:350px;
  padding:1px 16px;
  width: 54%;
  height: 660px;
}


.category-name {
  padding:10px;
  font-family: Ubuntu, sans-serif;
  font-size: 46px;
}


.lineBetweenCategories {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
}

.lineBetweenCategories:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.nav-category{
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
}

.nav-item {
  padding-top: 10px;
}

.sidenav {
  padding-top:20px;
  background-color: #ccffa269;
}
