.show_users{
  margin:200px;
}
.role_field{
  padding: 10px;
  padding-left: 0px;
}

.users_radio_tag{
  border: 1px solid black;
  text-decoration: none;
  margin-right:0 ;
  padding:10px;

}


.users_radio_tag:hover{
  cursor: pointer;
}

.checked_radio {
  background-color: rgb(27, 31, 255);
  color: white;
  padding:10px;
  text-decoration: none;
  padding-right: 10px;
}
.checked_radio:hover{
  color: white;
}

.users_list {
  border: 1px solid rgb(75, 75, 75);
  padding: 20px;
  background-color: ghostwhite;
  display: block;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

.users_list > p{
  padding: 5px;
}


.admin-add-newuser-link{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  border: 0;
  padding: 20px;
  background-color:  rgb(47, 243, 47);
}

.admin-add-newuser-link:hover{
  background-color: rgb(38, 252, 38);
}


.user_delete-button{
  border: 1px solid rgb(253, 16, 16);
  background-color: rgb(253, 16, 16);
  color: white;
  padding : 5px;
  text-decoration: none;
  float: right;
  margin: 2px;
  border-radius: 5px;
  box-shadow: 2px 3px thistle;
}

.user_edit-button{
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
  color: white;
  padding : 5px;
  float: right;
  margin: 2px;
  border-radius: 5px;
  box-shadow: 2px 3px thistle;
}

.user_delete-button:hover, .user_edit-button:hover{
  cursor: pointer;
  color: black;
}
